
<h1>Home Page Recipe</h1>

<ul>
    <li>
        <a href="{{ path( 'recipe_search', {q:'curry'} )}}">Search Curry</a>
    </li>
    <li>
        <a href="{{ path( 'recipe_show', {id: 10} )}}">Search recipe 10</a>
    </li>
</ul>